---
---

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root{
  --red: #E64845;
  --orange: #FFD07B;

}

.hero{
  background-color: var(--red);
}

.hero-body{
  .title{
    color: white;
  }

  .subtitle{
    color: white;
  }
}


