<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <p class="title">
            {{ site.title }}
        </p>
        <p class="subtitle">
            {{site.description}}
        </p>
    </div>
</section>
<section class="nav-section">
    <nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a class="navbar-item" href="{{ site.url | append: site.baseurl | append: "/"}}"><img src="assets/logo_monochrome.png"></a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navBarData">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navBarData" class="navbar-menu">
            <div class="navbar-start">
                {% for item in site.sections %}
                <a class="navbar-item" href="{{item.url}}">
                    {{item.title}}
                </a>
                {% endfor %}
            </div>
            <div class="navbar-end"></div>


        </div>
    </nav>
</section>
<section>
    <div class="container is-fluid">
        <h1 class="title"> {{ page.title }}</h1>
        {{content}}
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/script.js"></script>
</body>
</html>

</html>
